<template name="ui/overlayer">
	<div>
		<div class="pos_f w100p h100p bg_555 t0 l0 zi10000 op8"></div>
		<div class="ui_overlayer_popup" style="width: {{M.width}}px; ">
			<div class="ui_overlayer_inner">
				<div class="ui_overlayer_content tac">
					<include template="{{M.template}}" modelUse="{{M.parent}}"/>

					<if expr="{{!G.funnyMode}}">
						<div class="dib oh mt20" style="border-radius: 90px;">
							<i class="img loader big"></i>
						</div>
					</if>
					<if expr="{{G.funnyMode}}">
						<div class="mt20">
							<div class="dib oh" style="border-radius: 210px; width:200px; height: 200px;">
								<i class="img runner"></i>
							</div>
						</div>
					</if>
				</div>
			</div>
		</div>
	</div>
</template>