.ui_timer_digit {
	font-size:		32px;
	color:			#555;
}

.ui_timer_text {
	display: block;
	margin-top: -5px;
	font-size:		11px;
	color:			gray;
}

.ui_timer_devider {
	display: inline-block;
	font-size:		20px;
	margin-top: 	6px;
	vertical-align: 	top;
	color:			gray;
}