<template name='ui/timer'>
	<div class="vat">
		<div class="dib">
			<span class="ui_timer_digit">{{M.hours ::twodigit}}</span>
			<span class="ui_timer_text noselect">часов</span>
		</div>
		<span class="ui_timer_devider">:</span>
		<div class="dib">
			<span class="ui_timer_digit">{{M.minutes ::twodigit}}</span>
			<span class="ui_timer_text noselect">минут</span>
		</div>
		<span class="ui_timer_devider">:</span>
		<div class="dib">
			<span class="ui_timer_digit">{{M.seconds ::twodigit}}</span>
			<span class="ui_timer_text noselect">секунд</span>
		</div>
	</div>
</template>
