.ui_uploadFile_div {
	display: inline-block;
	position: relative;
	color:gray;
	overflow: hidden;
	text-align: center;
}

.ui_uploadFile_plus {
	display: block;
	font-size:50px;
	font-weight:bold;
}

.ui_uploadFile_input {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	height: 500px;
	width: 500px;
	opacity: 0;
}