.ui_schedule_days {
	width:	576px;
}

.ui_schedle_hours {
	background: url('{{E.system.path.static}}{{E.system.path.components}}/interactive/schedule/time.png') no-repeat bottom;
	width: 578px;
	height:	88px;
	padding-top: 5px;
}
.ui_schedle_hours label {
	margin-left: 4px;
}
.ui_schedle_hours label:nth-child(2) {
	margin-left:5px;
}

.ui_schedule_item	{
	display:	inline-block;
	width:		22px;
	height:		22px;
	line-height: 22px;
	text-align: center;
	border:		1px solid white;
	background: #b5c2cb;
	color:		white;
	font-weight:	bold;
	cursor:		pointer;
}

.ui_schedule_item:hover	{
	border:		1px solid #3299c9;
}

.ui_schedule_item.selected	{
	background: #459221;
}
