<template name="ui/notices">
	<div class="pos_f t10 r10 w350 zi10000" shortcut="notices"></div>
</template>


<template name="ui/notice/ok">
	<div class="ui_notice" onclick="self.close();">
		<div class="ui_notice_body">
			<i class="vat mt3 ico ok_green"></i>
			<div class="ml10 dib">
				<h3>Успешная операция</h3>
				<div class="c_greenLight w200">
					<include template="{{M.template}}" html="{{M.content}}" modelUse="{{M.parent}}"/>
				</div>
			</div>
		</div>
	</div>
</template>

