<template name='ui/droptree'>
	<div class="dib" style="width:{{+M.width+2}}px" shortcut="body">
		<div class="ui_droptree_button {{M.toggler ? 'active' : ''}}" onclick="self.toggle();">{{M.selectedName || M.placeholder || 'Выберите'}} <div class="ui_droptree_arrow">{{M.toggler ? '▲' : '▼'}}</div></div>
		<div class="ui_droptree_items {{M.toggler ? 'active': ''}}" shortcut="popup">
			<div class="ui_droptree_body">
				<span class="dib m10 link blue dashed" onclick="self.selectAll();">Выбрать Все</span>
				<hr>
				<div class="h200 oya w250">
					<div class="m10">
						<tree data="{{M.dataTree}}" value="{{M.value}}" onselect="self.selectItem(args[0]);" selectedName="{{M.selectedName}}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>