.ui_droptree_button {
	display: block;
	border: 1px solid #c3cfd8;
	border-radius: 5px;

	line-height: 22px;
	cursor: pointer;
	padding: 3px 6px;
	font-size: 12px;
}

.ui_droptree_button.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.ui_droptree_arrow {
	float: right;
	font-size: 10px;
	color: gray;
}

.ui_droptree_items{
	display: none;
	position: absolute;
	z-index: 100000;
	width: 0;
	height: 0;
}
.ui_droptree_items.active {
	display: block;
}

.ui_droptree_body {
	background:	white;
	position: inherit;
	top: -1px;
	border: 1px solid silver;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
