<template name='ui/tree'>
	<div class="tree_control">
		<if expr="1">
			{{M.name}}
		</if>
		<ul shortcut="ul"></ul>
	</div>
</template>


<template name='ui/tree_root'>
	<div class="tree_control tree_root">
		<span class="tree_leaf" onclick="self.select(model.id)" shortcut="nodeTitle">{{M.name}}</span>
		<ul shortcut="ul"></ul>
	</div>
</template>


<template name='ui/tree/node'>
	<li class="{{M.state}}">
		<span class="tree_expander" onclick="self.toggle(M.id);"></span>
		<span class="tree_node" onclick="self.select(model.id)" shortcut="nodeTitle">{{M.name}}</span>
		<ul shortcut="ul"></ul>
	</li>
</template>


<template name='ui/tree/leaf'>
	<li>
		<span class="tree_leaf" onclick="self.select(model.id)" shortcut="nodeTitle">{{M.name}}</span>
	</li>
</template>





<template name='ui/tree/node/multi'>
	<li class="{{M.state}}">
		<div>
			<span class="tree_expander" onclick="self.toggle(M.id);"></span>
			<div class="cbx tree_node">
				<div class="{{M.innerChecked}}">
					<input type="checkbox" id="" value="{{M.checked}}" class="real"/>
					<input type="checkbox" disabled='disabled' checked="checked" class="ghost"/>
				</div>
			</div>
			<label for="" class="fs12">{{M.name}}</label>
		</div>

		<ul shortcut="ul"></ul>
	</li>
</template>


<template name='ui/tree/leaf/multi'>
	<li>
		<span class="tree_leaf_multi"></span>
		<input type="checkbox" id="" value="{{M.checked}}"/>
		<label for="" class="fs12">{{M.name}}</label>
	</li>
</template>