<template name='ui/colorpicker/popup'>

	<div style="width:{{M.size*2.7}}px; background-color: #000000">
		<div class="ui_colorpicker_border p0 dib vat noselect">
			<canvas class="pos_r db" shortcut="sv" width="{{M.size}}" height="{{M.size}}"/></canvas>
		</div>
		<div class="ui_colorpicker_border p0 dib vat">
			<canvas class="pos_r db" shortcut="hue" width="{{M.size/8}}" height="{{M.size}}"/></canvas>
		</div>
		<div class="p0 dib vat">
			<div class="ui_colorpicker_border p0">
				<canvas class="pos_r db" shortcut="colorNew" width="70" height="30"/></canvas>
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">R</span>
				<input class="m0 bg_black fs9" type="text" value="{{M.colorData.r}}" disabled size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">G</span>
				<input class="m0 bg_black fs9" type="text" value="{{M.colorData.g}}" disabled size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">B</span>
				<input class="m0 bg_black fs9" type="text" value="{{M.colorData.b}}" disabled size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">#</span>
				<input class="m0 bg_black fs9 tar" type="text" value="{{M.colorData.rgb}}" size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
		</div>

		<div class="p0 dib vat">
			<div class="ui_colorpicker_border p0">
				<canvas class="pos_r db" shortcut="colorOld" width="70" height="30"/></canvas>
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">H</span>
				<input class="m0 bg_black fs9" type="text" value="{{M.colorData.h}}" disabled size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">S</span>
				<input class="m0 bg_black fs9" type="text" value="{{M.colorData.s}}" disabled size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
			<div class="ui_colorpicker_border p0 fs9 tar" style="margin-top: 5px; margin-bottom:5px;">
				<span class="dib mh5">V</span>
				<input class="m0 bg_black fs9" type="text" value="{{M.colorData.v}}" disabled size="6" maxlength="6" style="border:2px solid #474848; color: #898989;">
			</div>
			<div>
				<i class="ico cp_button cp m5 ml10" onclick="self.setNewColor();"></i>
			</div>
		</div>
	</div>
</template>
