<template name="ui/popup">
	<div>
		<if expr="{{M.uiLock}}">
			<div class="pos_f w100p h100p bg_555 t0 l0 zi6000 op8"></div>
		</if>
		<div class="ui_popup_popup" style="width: {{M.width}}px; ">
			<div class="ui_popup_inner">
				<div class="ui_popup_content" style="{{M.padding ? 'padding:'+M.padding+'px' : ''}}">
					<include template="{{M.template}}" html="{{M.content}}" modelUse="{{M.parent}}"/>
				</div>
				<a class="ui_popup_close {{M.closeButton ? '' : 'dn'}}" onclick="self.close(event);">×</a>
			</div>
		</div>
	</div>
</template>
