<template name="ui/validator">
	<div class="ui_validation_balloon {{M.position}}">
		<div class="ui_validation_balloon_body"><i class="ico error mr10 mb-2"></i>{{M.text}}</div>
		<div class="ui_validation_balloon_point"><div></div></div>
	</div>
</template>

<template name="ui/validator/custom">
	<popup>
		<div class="validator-balloon"><i class="ico error mb-2 mr10"></i><include html="{{M.text}}"/></div>
		<hr class="mh-20 mt20 mb10">
		<button class="theme_lpg green" onclick="component.close();">
			<i class="ico ok_white_mini mb-2 mr5"></i>ок
		</button>
	</popup>
</template>
