.ui_validation_balloon { display: inline-block; position: absolute; margin-top:-13px;}
.ui_validation_balloon .ui_validation_balloon_body {
	border: 1px solid #d50055;
	border-radius: 6px;
	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.07);
	color: #000000;
	line-height: normal;
	margin: 13px 8px;
	min-width: 200px;
	padding: 5px 10px;

	background: white; /* Old browsers */
}


/*
.ui_validation_balloon .ui_validation_balloon_close { width: 17px; height: 17px; background: transparent url("&{uiDomain}/cpanel/resource/img/create.png") no-repeat -479px -721px; display: block; cursor: pointer; position: absolute; right: 15px; top: 15px; overflow: hidden; text-indent: -1000px; }
.ui_validation_balloon .ui_validation_balloon_close:hover { background: transparent url("&{uiDomain}/cpanel/resource/img/create.png") no-repeat -498px -721px; }
.ui_validation_balloon_holder.balloon_hover .ui_validation_balloon_close { display: none !important; }

*/
.ui_validation_balloon_point {
	height: 14px;
	overflow: hidden;
	padding: 5px;
	width: 0;
}

.ui_validation_balloon_point {
	position: absolute;
}

/*Уголок*/
.ui_validation_balloon_point div {
	height: 8px;
	width: 8px;
	content: ' ';
	position: absolute;
	background: white;
	/*left: 20px; bottom: -11px;
	width: 20px; height: 20px;*/
	box-shadow: 0 0 3px #444; /* Добавляем тень для уголка */
	border-radius: 1px;
	border:1px solid red;

	transform: rotate(45deg); /* Поворачиваем на 45º */
	-webkit-transform: rotate(45deg);
}


/*LT*/
.ui_validation_balloon.lt .ui_validation_balloon_body {
	position: absolute;
	right: 1px;
	top: 1px;
}
.ui_validation_balloon.lt .ui_validation_balloon_point {
	right: 0;
	top: 16px;
}
.ui_validation_balloon.lt .ui_validation_balloon_point div {
	left: -8px;
	position: absolute;
	transform: rotate(-45deg);
}
/*--*/


/*RB*/
.ui_validation_balloon.rb .ui_validation_balloon_point  {left: -1px;   top: 16px;}
/*--*/

/*RT*/
.ui_validation_balloon.rt .ui_validation_balloon_point  { left: -1px; top: 18px;}
/*--*/




.ui_validation_balloon.tl .ui_validation_balloon_point  {bottom: -4px; right: 20px;}
.ui_validation_balloon.tr .ui_validation_balloon_point  {bottom: -4px; left: 20px;}
.ui_validation_balloon.br .ui_validation_balloon_point  {top: -8px;    left: 30px; transform: rotate(90deg); -webkit-transform: rotate(90deg);}
.ui_validation_balloon.bl .ui_validation_balloon_point  {top: -8px;    right: 30px; transform: rotate(90deg); -webkit-transform: rotate(90deg);}


